<!DOCTYPE html>
{%extends 'base.html'%}

{% block body_block%}
<div class="container">
    <div class="row">
        <div class="col-3"></div>

        <div class="col-6 " >
            <table>
                <tr>
                    <th>Mobile name</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Images</th>
                </tr>
                {%for mobile in mobiles%}
                <tr>
                    <td>{{mobile.mobile_name}}</td>
                    <td>{{mobile.brand}}</td>
                    <td>{{mobile.price}}</td>
                    <td>
                        <img src="{{mobile.image.url}}" alt="no image" width="100px" height="100px">
                    </td>
                    <td>
                        <a href="{%url 'mobileedit' mobile.id%}" class="btn btn-primary">Edit</a>
                        <a href="{%url 'mobiledetail' mobile.id%}" class="btn btn-warning">View</a>
                        <a href="{%url 'removemobile' mobile.id%}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor%}
            </table>


        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}